{% if "ValidationResults" in renderer_type or "ProfilingResults" in renderer_type %}
  {% set static_scripts_dir = "../../../../../static/scripts/" -%}
{% elif "ExpectationSuite" in renderer_type %}
  {% set static_scripts_dir = "../../../../static/scripts/" -%}
{% elif "SiteIndex" in renderer_type %}
  {% set static_scripts_dir = "./static/scripts/" -%}
{% endif %}


{% if renderer_type == "ExpectationSuitePageRenderer" %}

<script src="../static/styles/online/vega@5"></script>
<script src="../static/styles/online/vega-lite@4"></script>
<script src="../static/styles/online/vega-embed@6"></script>
<script src="../static/styles/online/8217dffd95.js"></script>

<script src="../static/styles/online/jquery-3.4.1.min.js"></script>
<script src="../static/styles/online/popper.min.js"></script>
<script src="../static/styles/online/bootstrap.min.js"></script>
<script src="../static/styles/online/bootstrap-table.min.js"></script>
<script src="../static/styles/online/bootstrap-table-filter-control.min.js"></script>
<script src="../static/styles/online/bootstrap-datepicker.min.js"></script>

{% elif renderer_type == "ValidationResultsPageRenderer" %}

<script src="../../../../static/styles/online/vega@5"></script>
<script src="../../../../static/styles/online/vega-lite@4"></script>
<script src="../../../../static/styles/online/vega-embed@6"></script>
<script src="../../../../static/styles/online/8217dffd95.js"></script>

<script src="../../../../static/styles/online/jquery-3.4.1.min.js"></script>
<script src="../../../../static/styles/online/popper.min.js"></script>
<script src="../../../../static/styles/online/bootstrap.min.js"></script>
<script src="../../../../static/styles/online/bootstrap-table.min.js"></script>
<script src="../../../../static/styles/online/bootstrap-table-filter-control.min.js"></script>
<script src="../../../../static/styles/online/bootstrap-datepicker.min.js"></script>

{% else %}

<script src="static/styles/online/vega@5"></script>
<script src="static/styles/online/vega-lite@4"></script>
<script src="static/styles/online/vega-embed@6"></script>
<script src="static/styles/online/8217dffd95.js"></script>

<script src="static/styles/online/jquery-3.4.1.min.js"></script>
<script src="static/styles/online/popper.min.js"></script>
<script src="static/styles/online/bootstrap.min.js"></script>
<script src="static/styles/online/bootstrap-table.min.js"></script>
<script src="static/styles/online/bootstrap-table-filter-control.min.js"></script>
<script src="static/styles/online/bootstrap-datepicker.min.js"></script>

{% endif %}